$white: #fff;
$black:#000;
$black-light:#2b2e42;

$gray: #9EA2BC;
$gray-light: #f9fbfe;

$gray-text:#9596a0;

$blue-light: #33cff4;
$blue: #4592ff;

$green: #1ee095;


$default_transition: 0.3s ease-in;
$cubic : all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.9);
$cubic-fast : all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.9);

$fa:'FontAwesome';
$monserat: 'montserrat';
$im:'icomoon';


$desktop: "only screen and (max-width: 1500px)";
$laptop: "only screen and (max-width: 1400px)";
$laptop-small: "only screen and (max-width: 1300px)";
$pre-tablet: "only screen and (max-width: 1200px)";
$tablet: "only screen and (max-width: 1000px)";
$tablet-plus: "only screen and (min-width: 1001px)";
$pre-mobile: "only screen and (max-width: 760px)";
$mobile: "only screen and (max-width: 700px)";
$mobile-plus: "only screen and (min-width: 701px)";
$mobile-small: "only screen and (max-width: 500px)";

@import "common/_mixins.scss";