@import '../variables.scss';

body {
    font-family: $monserat;
    background-color: $black-light;
}

h1 {
    font-size: 34px;
    font-weight: 700;
    color: $black-light;
}
h2 {
    font-size: 28px;
    font-weight: 700;
    color: $black-light;
}
h3 {
    font-size: 18px;
    font-weight: 700;
    color: $black-light;
}
h4 {
    font-size: 16px;
    font-weight: 700;
    color: $black-light;
}
p {
    font-size: 14px;
    font-weight: 300;
    color: $black-light;
}
a {
    position: relative;
    transition:$default_transition;
    font-size: 14px;
    font-weight: 400;
    color: $blue-light;
    &:hover {
        transition:$default_transition;
        color: $blue;
    }
    &.linkto {
        padding-right: 40px;
        &:after {
            position: absolute;
            right: 0px;
            top:50%;
            transform: translate(-16px,-50%);
            transition: transform 0.3s ease-in;
            padding-right: 0px;
            font-family: $im;
            font-size: inherit;
            color: inherit;
            content: '\e900';
        }
        &:hover {
            &:after {
                transform: translate(0px,-50%);
                transition: transform 0.3s ease-in;
            }
        }
    }
}

.container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}